.DS_Store
/platform-etl-openfda-faers.iml
/.idea
/input
/out
/metorikku-standalone.jar
/target
/project/project
/project/target
/src/target
/input/
/output
/output/
/tmp
/scratch
/deprecated/resources/amm.application.conf
project/metals.sbt
.vscode/settings.json
.bloop/
project/.bloop/
.metals/
.ammonite/
metals.sbt
.sbtopts
