.DS_Store
/platform-etl-openfda-faers.iml
/.idea
/input
/out
/metorikku-standalone.jar
/target
/project/project
/project/target
/elasticsearch/target
/src/target
/input/
/output
/data
/dataproc
/output/
/tmp
/scratch
/deprecated/resources/amm.application.conf
project/metals.sbt
.vscode/
.bloop/
.bsp/
project/.bloop/
.metals/
.ammonite/
metals.sbt
tmp/.sbtopts
.jvmopts
*.out
*.log
application.conf
application.xml
/scripts/.idea
/.classpath
/.project
workflow/target
